In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../output/processed/clean.csv")

In [3]:
cols = ["origin","destination","year","UN1","UN3","UN4.1","UN4.2","UN4.3","UN5.1","UN5.2","UN6.1","UN6.2","UN8","UN9"]

In [4]:
#define how to aggregate various fields
agg_functions = {'amount': 'sum'}
df_new = df.groupby(cols, dropna=False).aggregate(agg_functions).reset_index()

In [5]:
df_new[(df_new["origin"] == "hr") & (df_new["destination"] == "at") & (df_new["UN1"].isna()) & (df_new["year"] == 2003)]

,origin,destination,year,UN1,UN3,UN4.1,UN4.2,UN4.3,UN5.1,UN5.2,UN6.1,UN6.2,UN8,UN9,amount
10305,hr,at,2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,800.0

In [6]:
df[(df["origin"] == "hr") & (df["destination"] == "at")  & (df["UN1"].isna()) & (df["year"] == 2003)]

,origin,destination,year,amount,UN1,UN3,UN4.1,UN4.2,UN4.3,UN5.1,UN5.2,UN6.1,UN6.2,UN8,UN9
86188,hr,at,2003,200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86191,hr,at,2003,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86192,hr,at,2003,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_new.to_csv("../output/processed/aggregated.csv")